---
import Layout from "../components/layouts/Layout.astro";
---
<Layout>
    <section class="cta-section bg-slate-500 text-white py-12 flex flex-col items-center justify-center">
        <div class="cta-content">
            <h1>Welcome to the White Trash Family Christmas 2024</h1>
            <p>This is the home of the White Trash Family Christmas 2024.</p>
        </div>
    </section>
</Layout>