---
import Layout from "../components/layouts/Layout.astro";
import HorizontalScroll from "../components/HorizontalScroll.astro";

const images = [
    "https://via.placeholder.com/640x480/007bff/ffffff?text=Image+1",
    "https://via.placeholder.com/640x480/28a745/ffffff?text=Image+2",
    "https://via.placeholder.com/640x480/dc3545/ffffff?text=Image+3",
    "https://via.placeholder.com/640x480/17a2b8/ffffff?text=Image+4",
    "https://via.placeholder.com/640x480/ffc107/ffffff?text=Image+5",
    "https://via.placeholder.com/640x480/007bff/ffffff?text=Image+6",
    "https://via.placeholder.com/640x480/28a745/ffffff?text=Image+7",
    "https://via.placeholder.com/640x480/dc3545/ffffff?text=Image+8",
    "https://via.placeholder.com/640x480/17a2b8/ffffff?text=Image+9",
    "https://via.placeholder.com/640x480/ffc107/ffffff?text=Image+10",
    "https://via.placeholder.com/640x480/007bff/ffffff?text=Image+11",
    "https://via.placeholder.com/640x480/28a745/ffffff?text=Image+12",
];
---

<Layout>
    <section
        class="cta-section bg-slate-500 text-white py-12 flex flex-col items-center justify-center"
    >
        <div class="cta-content">
            <h1>Welcome to the White Trash Family Christmas 2024</h1>
            <p>This is the home of the White Trash Family Christmas 2024.</p>
        </div>
    </section>
    <HorizontalScroll images={images} />
    <section class="h-screen bg-gray-100 py-24 px-12 text-xl">
        <div class="container mx-auto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
                tempore eveniet enim aspernatur, voluptatum nam quos, sed labore
                quas pariatur porro eaque aut blanditiis hic molestias aperiam
                vero. Facilis, harum. Maxime nulla, eius nobis minus harum atque
                voluptate inventore doloremque velit ut. Placeat perferendis
                distinctio modi, voluptatibus saepe eaque doloribus libero qui
                illo assumenda. Alias quo obcaecati iure qui eligendi quos
                provident sed laboriosam magni itaque tenetur aut beatae saepe
                voluptatibus, cum quis et ab error facere similique. Beatae
                facere assumenda delectus perspiciatis nulla totam molestias
                quis nam amet tempore aperiam fugit architecto, eligendi
                dignissimos repudiandae officia quibusdam natus adipisci illo
                perferendis corrupti qui. Dolorum eligendi at mollitia fugit
                dolore sequi, architecto officiis saepe, ullam vitae voluptates
                neque voluptate repudiandae voluptatibus vero illum enim nostrum
                eveniet distinctio obcaecati eum autem perferendis? Corrupti
                nesciunt libero suscipit fuga ipsam eaque laboriosam doloremque,
                enim sunt, esse dolorem repudiandae dicta excepturi amet
                doloribus at.
            </p>
        </div>
    </section>
</Layout>
