---
export interface Props {
    images: string[];
}
const { images } = Astro.props;
---

<div class="relative w-full overflow-hidden">
    <div class="flex overflow-x-auto snap-x snap-mandatory scrollbar-hide">
        {
            images.map((image, index) => (
                <div class="w-1/4 flex-shrink-0 snap-start p-2 aspect-square">
                    <img
                        src={image}
                        alt={`Image ${index + 1}`}
                        class="w-full h-full object-cover rounded-lg"
                    />
                </div>
            ))
        }
    </div>
</div>

<style>
    /* .scrollbar-hide::-webkit-scrollbar {
        display: none;
    } */
    /* .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    } */
</style>
